{% extends "base.html" %}

{% block tittel %}Dashboard{% endblock %}

{% block innhold %}

<h1>Personal</h1>

<div class="tabell-ramme">
  <table>
    <thead>
      <tr>
        <th scope="col">Navn</th>
        <th scope="col">E-post</th>
        <th scope="col">Skole</th>
        <th scope="col">Avtale signert</th>
        <th scope="col">Status</th>
        <th scope="col">Handlinger</th>
      </tr>
    </thead>
    <tbody>
      {% for p in personer %}
        {% include "dashboard/_rad.html" %}
      {% else %}
        <tr><td colspan="6" class="tomt">Ingen personer registrert ennå.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}