altgraph==0.17.4
annotated-types==0.7.0
anyio==4.10.0
apsw==3.50.4.0
apswutils==0.1.0
asgiref==3.11.1
attrs==25.4.0
beautifulsoup4==4.14.2
BlurWindow==1.2.1
cachetools==5.5.2
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
ciso8601==2.3.3
click==8.2.1
colorama==0.4.6
contourpy==1.3.3
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
distro==1.9.0
fastcore==1.8.12
fastlite==0.2.1
fonttools==4.60.1
fpdf==1.7.2
google-auth==2.40.3
google-genai==1.33.0
greenlet==3.5.5
h11==0.16.0
htmltools==0.6.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
kiwisolver==1.4.9
linkify-it-py==2.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.7
mdit-py-plugins==0.5.0
mdurl==0.1.2
narwhals==2.19.0
numpy==2.3.4
oauthlib==3.3.1
openai==1.106.1
opentelemetry-api==1.41.0
orjson==3.11.8
outcome==1.3.0.post0
packaging==25.0
Panda3D==1.10.15
panda3d-gltf==1.3.0
panda3d-simplepbr==0.13.1
pandas==3.0.1
pefile==2023.2.7
pillow==11.3.0
platformdirs==4.2.2
pluggy==1.5.0
prompt_toolkit==3.0.52
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.11.7
pydantic_core==2.33.2
pygame==2.6.1
Pygments==2.19.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pyparsing==3.2.5
pyperclip==1.11.0
PyQt6==6.10.0
PyQt6-Qt6==6.10.0
PyQt6_sip==13.10.2
pyscript==0.3.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-fasthtml==0.12.29
python-multipart==0.0.20
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.3
questionary==2.1.1
reedsolo==1.7.0
requests==2.31.0
rich==13.7.1
rsa==4.9.1
scipy==1.16.3
screeninfo==0.8.1
selenium==4.36.0
setuptools==80.9.0
shiny==1.6.0
shinychat==0.2.9
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.3
soundfile==0.13.1
soupsieve==2.8
SQLAlchemy==2.0.52
sswg==4.3.0
starlette==0.48.0
tenacity==9.1.2
toml==0.10.2
tqdm==4.67.1
trio==0.31.0
trio-websocket==0.12.2
tsx==0.2.17
typer==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.3
uc-micro-py==2.0.0
uib-inf100-graphics==0.4.0
urllib3==2.5.0
ursina==8.2.0
uv==0.12.5
uvicorn==0.37.0
watchfiles==1.1.0
wcwidth==0.6.0
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==15.0.1
wsproto==1.2.0
zipp==3.23.0
