{% extends "base.html" %}

{% block tittel %}Grupper{% endblock %}

{% block innhold %}

<h1>Grupper</h1>

<div class="tabell-ramme">
  <table>
    <thead>
      <tr>
        <th scope="col">Gruppe</th>
        <th scope="col">Medlemmer</th>
        <th scope="col">Opprettet</th>
      </tr>
    </thead>
    <tbody>
      {% for gruppe in grupper %}
      <tr>
        <td><a href="/grupper/{{ gruppe.id }}">{{ gruppe.group_name }}</a></td>
        <td>{{ antall.get(gruppe.id, 0) }}</td>
        <td>{{ gruppe.group_created_date or "–" }}</td>
      </tr>
      {% else %}
      <tr><td colspan="3" class="tomt">Ingen grupper ennå.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}